

.main-container {
      height: 100vh;
      width: 100vw;

      /* padding: 8px; */
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
}

.main-title {
      font-family: 'Noto Sans', sans-serif;
      font-weight: 700;
      font-size: 40px;
      transition: transform ease-in-out 25s;
      cursor: pointer;
}